.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
}

.header__logo {
  font-size: 24px;
  /* font-weight: bold; */
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  color: white;
  margin-right: 10px;
}

.header__nav-item:hover {
  color: yellow;
}

@media (max-width: 768px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
  }

  .header__nav-item {
    margin: 5px 0;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

.footer h1 {
  font-size: 18px;
  margin-right: 10px;
}

.footer p {
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }
  .footer h1 {
    font-size: 16px;
  }
}

.project-image {
  width: 400px;
  height: auto;
}

.home-heading {
  padding-top: 20px;
}

.github-button {
  margin-left: 30px;
  margin-right: 15px;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: black;
  color: aqua;
  transition: background-color 0.3s ease;
}

.github-button:hover {
  background-color: #00a0d8;
}

.live-site-button {
  margin-right: 15px;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: black;
  color: aqua;
  transition: background-color 0.3s ease;
}

.live-site-button:hover {
  background-color: #00a0d8;
}